{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Bako - Personal Portfolio & Resume HTML Template</title>
	<meta name="description" content="Bako - Personal Portfolio & Resume HTML Template">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="https://via.placeholder.com/32x32">

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/slick.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/simplebar.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">

	<!--[if lt IE 9]>
      <script src="{% static 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
      <script src="{% static 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body>

<!-- preloader -->
<div id="preloader">
	<div class="outer">
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	</div>
</div>

<!-- site wrapper -->
<div class="site-wrapper">

	<!-- mobile header -->
	<div class="mobile-header py-2 px-3 mt-4">
		<button class="menu-icon mr-2">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<a href="index.html" class="logo"><img src="{% static 'https://via.placeholder.com/70x70' %}" alt="Bako Doe" /></a>
		<a href="index.html" class="site-title dot ml-2">Bako Doe</a>
	</div>

	<!-- header -->
	<header class="left float-left shadow-dark" id="header">
		<button type="button" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="header-inner d-flex align-items-start flex-column">
			<a href="index.html"><img src="{% static 'https://via.placeholder.com/70x70' %}" alt="Bako Doe" /></a>
			<a href="index.html" class="site-title dot mt-3">Bako Doe</a>
			<span class="site-slogan">Web Developer</span>
			
			<!-- navigation menu -->
			<nav>
				<ul class="vertical-menu scrollspy">
					<li><a href="#home" class="active"><i class="icon-home"></i>Home</a></li>
					<li><a href="#about"><i class="icon-user"></i>About</a></li>
					<li><a href="#services"><i class="icon-bulb"></i>Services</a></li>
					<li><a href="#resume"><i class="icon-graduation"></i>Resume</a></li>
					<li><a href="#works"><i class="icon-grid"></i>Works</a></li>
					<li><a href="#blog"><i class="icon-pencil"></i>Blog</a></li>
					<li><a href="#contact"><i class="icon-phone"></i>Contact</a></li>
				</ul>
			</nav>
			
			<!-- footer -->
			<div class="footer mt-auto">

				<!-- social icons -->
				<ul class="social-icons list-inline">
					<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
				</ul>

				<!-- copyright -->
				<span class="copyright">© 2020 Bako Template</span>
			</div>
		</div>
	</header>

	<!-- main content area -->
	<main class="content float-right">

		<!-- section hero -->
		<section class="hero background parallax shadow-dark d-flex align-items-center" id="home" data-image-src="https://via.placeholder.com/900x600">
			<div class="cta mx-auto mt-2">
				<h1 class="mt-0 mb-4">I’m Bako Doe<span class="dot"></span></h1>
				<p class="mb-4">He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
				<a href="#" class="btn btn-default btn-lg mr-3"><i class="icon-grid"></i>View Portfolio</a>
				<div class="spacer d-md-none d-lg-none d-sm-none" data-height="10"></div>
				<a href="#" class="btn btn-border-light btn-lg"><i class="icon-envelope"></i>Hire me</a>
			</div>
			<div class="overlay"></div>
		</section>

		<!-- section about -->
		<section id="about" class="shadow-blue white-bg padding">
			<h3 class="section-title">About Me</h3>
			{% for i in about %}
			<div class="spacer" data-height="80"></div>
			<div class="row">
				<div class="col-md-3">
					<img src="{{ i.image.url }}" alt="about" />
				</div>
				<div class="col-md-9">
					<h2 class="mt-4 mt-md-0 mb-4">{{ i.title }}</h2>
					<p class="mb-0">{{ i.text }}</p>
					<div class="row my-4">
						<div class="col-md-6">
							<p class="mb-2">Name: <span class="text-dark">{{ i.name }}</span></p>
							<p class="mb-0">Birthday: <span class="text-dark">{{ i.bith_day }}</span></p>
						</div>
						<div class="col-md-6 mt-2 mt-md-0 mt-sm-2">
							<p class="mb-2">Location: <span class="text-dark">{{ i.location }}</span></p>
							<p class="mb-0">Email: <span class="text-dark">{{ i.email }}</span></p>
						</div>
					</div>
					<a href="#" class="btn btn-default mr-3"><i class="icon-cloud-download"></i>Download CV</a>
					<a href="#" class="btn btn-alt mt-2 mt-md-0 mt-xs-2"><i class="icon-envelope"></i>Hire me</a>
				</div>
			</div>
			{% endfor %}
		</section>

		<!-- section skills -->
		<section id="skills" class="shadow-blue white-bg padding">
			<h3 class="section-title">My skills</h3>
			<div class="spacer" data-height="80"></div>
            {% for i in skill %}
			<p class="mb-0">{{ i.text }}</p>
             {% endfor %}
			<div class="row mt-5">
             {% for i in skill %}
				<div class="col-md-6">
					<!-- skill item -->
					<div class="skill-item">
						<div class="skill-info clearfix">
							<h4 class="float-left mb-3 mt-0">{{ i.skill_name }}</h4>
							<span class="float-right">{{ i.number}}%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="85">
							</div>
						</div>
						<div class="spacer" data-height="50"></div>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>

		<!-- section facts -->
		<section id="facts" class="shadow-dark color-white background parallax padding-50" data-image-src="{% static 'images/background-1.jpg' %}">

			<div class="row relative z-1">
				{% for i in info %}
				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item text-center">
						<i class="{{ i.icon }}"></i>
						<h2 class="count">{{ i.number }}</h2>
						<span>{{ i.title }}</span>
					</div>
				</div>
				{% endfor %}
			</div>
			
			<div class="overlay"></div>

		</section>

		<!-- section services -->
		<section id="services" class="shadow-blue white-bg padding">
			<h3 class="section-title">Services</h3>
			<div class="spacer" data-height="80"></div>

			<div class="row">

            {% for ser in servises %}
				<div class="col-md-4 col-sm-6">
					<!-- service item -->
					<div class="service-item text-center">
						<i class="{{ ser.icon }}"></i>
						<h4 class="my-3">{{ ser.title }}</h4>
						<p class="mb-0">{{ ser.text| truncatechars:40 }}</p>
					</div>
					<div class="spacer" data-height="20"></div>
				</div>
				{% endfor %}


			</div>
		</section>

		<!-- section experience -->
		<section id="resume" class="shadow-blue white-bg padding">
			<h3 class="section-title">Experience</h3>
			<div class="spacer" data-height="80"></div>

			<!-- timeline -->
			<div class="timeline">
				{% for i in exp %}
				<div class="entry">
					<div class="title">
						<span>{{ i.data_time }}</span>
					</div>
					<div class="body">
						<h4 class="mt-0">{{ i.title }}</h4>
						<p>{{ i.text }}</p>
					</div>
				</div>
				{% endfor %}
				<span class="timeline-line"></span>
			</div>
		</section>

		<!-- section works -->
		<section id="works" class="shadow-blue white-bg padding">
			<h3 class="section-title">Portfolio</h3>
			<div class="spacer" data-height="80"></div>

			<!-- portfolio filter (desktop) -->
			<ul class="portfolio-filter list-inline">
				<li class="current list-inline-item" data-filter="*">All Projects</li>
				{% for i in cat %}
				<li class="list-inline-item" data-filter=".{{ i.category_name }}">{{ i.category_name }}</li>
				{% endfor %}

			</ul>

			<!-- portfolio filter (mobile) -->
			<div class="pf-filter-wrapper mb-4">
				<select class="portfolio-filter-mobile">
					<option value="*">Everything</option>
					{% for cat in cat %}
					<option value=".{{ i.category_name }}">{{ cat.category_name }}</option>
					{% endfor %}
				</select>
			</div>

			<!-- portolio wrapper -->
			<div class="row portfolio-wrapper">
				
				{% for i in portfolio %}
				<div class="col-md-4 col-sm-6 grid-item {{ i.cat.category_name }}">
					<a href="work-single.html">
						<div class="portfolio-item">
							<div class="details">
								<h4 class="title">Creative Art</h4>
								<span class="term">Art, Creative</span>
							</div>
							<span class="plus-icon">+</span>
							<div class="thumb">
								<img src="{{ i.image.url }} alt="Portfolio-title" />
								<div class="mask"></div>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}


			</div>
			
			<!-- more button -->
			<div class="load-more text-center mt-4">
				<a href="javascript:" class="btn btn-default"><i class="fas fa-circle-notch"></i> Load more</a>
				<!-- numbered pagination (hidden for infinite scroll) -->
				<ul class="portfolio-pagination list-inline d-none">
					<li class="list-inline-item">1</li>
					<li class="list-inline-item"><a href="works-2.html">2</a></li>
				</ul>
			</div>
		</section>

		<!-- section pricing table -->
		<section id="price" class="shadow-blue white-bg padding">
			<h3 class="section-title">Pricing table</h3>
			<div class="spacer" data-height="97"></div>

			<div class="row">
				
				<div class="col-md-4 pr-md-0 mt-3">
					<!-- price item -->
					<div class="price-item text-center">
						<i class="price-icon icon-energy"></i>
						<span class="plan">Basic</span>
						<h3 class="price"><em>$</em>14<span>/mo</span></h3>
						<div class="price-content">
							<ul>
								<li>Frontend Builder</li>
								<li>Regular Support</li>
								<li>1 Years of Updates</li>
							</ul>
						</div>
						<a href="#" class="btn btn-default">Get Started</a>
					</div>
				</div>

				<div class="col-md-4 px-md-0 my-5 my-md-0">
					<!-- price item -->
					<div class="price-item text-center recommended">
						<i class="price-icon icon-fire"></i>
						<span class="plan">Professional</span>
						<h3 class="price"><em>$</em>41<span>/mo</span></h3>
						<div class="price-content">
							<ul>
								<li>Frontend Builder</li>
								<li>Regular Support</li>
								<li>2 Years of Updates</li>
								<li>White Labeling</li>
							</ul>
						</div>
						<a href="#" class="btn btn-default">Get Started</a>
					</div>
				</div>

				<div class="col-md-4 pl-md-0 mt-0 mt-md-3">
					<!-- price item -->
					<div class="price-item text-center">
						<i class="price-icon icon-rocket"></i>
						<span class="plan">Premium</span>
						<h3 class="price"><em>$</em>99<span>/mo</span></h3>
						<div class="price-content">
							<ul>
								<li>Frontend Builder</li>
								<li>Regular Support</li>
								<li>3 Years of Updates</li>
							</ul>
						</div>
						<a href="#" class="btn btn-default">Get Started</a>
					</div>
				</div>

			</div>
		</section>

		<!-- section testimonials -->
		<section id="testimonials" class="shadow-blue white-bg padding">
			<h3 class="section-title">Testimonials</h3>
			<div class="spacer" data-height="97"></div>

			<div class="row testimonials-wrapper">
			  {% for i in test %}
				<div class="col-md-6">
					<!-- testimonial item -->
					<div class="testimonial-item">
						<span class="symbol"><i class="fas fa-quote-left"></i></span>
						<p>{{ i.text }}</p>
						<div class="testimonial-details">
							<div class="thumb">
								<img src="{{ i.image.url }}" alt="customer-name" />
							</div>
							<div class="info">
								<h4>{{ i.name }}</h4>
								<span>{{ i.lavel }}</span>
							</div>
						</div>
					</div>
				</div>
              {% endfor %}
			</div>
		</section>

		<!-- section clients -->
		<section id="clients" class="shadow-dark background-blue color-white padding-50">

			<!-- hidden heading for validation -->
			<h2 class="d-none">Clients</h2>

			<!-- clients wrapper -->
			<div class="clients-wrapper row">
				
				<div class="col-md-3">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="{% static 'https://via.placeholder.com/143x20' %}" alt="client-name" />
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="{% static 'https://via.placeholder.com/143x20' %}" alt="client-name" />
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="{% static 'https://via.placeholder.com/143x20' %}" alt="client-name" />
						</div>
					</div>
				</div>
				
				<div class="col-md-3">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="{% static 'https://via.placeholder.com/143x20' %}" alt="client-name" />
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="{% static 'https://via.placeholder.com/143x20' %}" alt="client-name" />
						</div>
					</div>
				</div>

			</div>

		</section>

		<!-- section blog -->
		<section id="blog" class="shadow-blue white-bg padding">
			<h3 class="section-title">Recent posts</h3>
			<div class="spacer" data-height="80"></div>

			<div class="row">
				{% for i in post %}
				<div class="col-md-4">
					<!-- blog item -->
					<div class="blog-item">
						<div class="thumb">
							<a href="#">
								<span class="category">{{ i.notification }}</span>
							</a>
							<a href="#">
								<img src="{{ i.image.url }}" alt="blog-title" />
							</a>
						</div>
						<h4 class="mt-4 mb-0"><a href="#">{{ i.title }}</a></h4>
						<ul class="list-inline meta mb-0 mt-3">
							<li class="list-inline-item">{{ i.data_time }}</li>
							<li class="list-inline-item">{{ i.name }}</li>
						</ul>
					</div>
				</div>
				{% endfor %}

			</div>

		</section>

		<!-- section contact -->
		<section id="contact" class="shadow-blue white-bg padding">
			<h3 class="section-title">Get in touch</h3>
			<div class="spacer" data-height="80"></div>

			<div class="row">
				
				<div class="col-md-4 mb-4 mb-md-0">
					<!-- contact info -->
					<div class="contact-info mb-5">
						<i class="icon-phone"></i>
						<div class="details">
							<h5>Phone</h5>
							<span>+44 1632 960428</span>
						</div>
					</div>
					<div class="contact-info mb-5">
						<i class="icon-envelope"></i>
						<div class="details">
							<h5>Email address</h5>
							<span>hello@bako.com</span>
						</div>
					</div>
					<div class="contact-info">
						<i class="icon-location-pin"></i>
						<div class="details">
							<h5>Location</h5>
							<span>West Palm Beach, 4669 Travis Street</span>
						</div>
					</div>
				</div>

				<div class="col-md-8">
					<!-- Contact Form -->
					<form id="contact-form" class="contact-form" method="post" action="{% url 'message' %}">
						{% csrf_token %}
						<div class="messages"></div>
						
						<div class="row">
							<div class="column col-md-6">
								<!-- Name input -->
								<div class="form-group">
									<input type="text" class="form-control" name="name" id="InputName" placeholder="Your name" required="required" data-error="Name is required.">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="column col-md-6">
								<!-- Email input -->
								<div class="form-group">
									<input type="text" class="form-control" id="InputEmail" name="email" placeholder="Email address" required="required" data-error="Email is required.">
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="column col-md-12">
								<!-- Email input -->
								<div class="form-group">
									<input type="text" class="form-control" id="InputSubject" name="subject" placeholder="Subject" required="required" data-error="Subject is required.">
									<div class="help-block with-errors"></div>
								</div>
							</div>
					
							<div class="column col-md-12">
								<!-- Message textarea -->
								<div class="form-group">
									<textarea name="message" id="InputMessage" class="form-control" rows="5" placeholder="Message" required="required" data-error="Message is required."></textarea>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>

						<button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default"><i class="icon-paper-plane"></i>Send Message</button><!-- Send Button -->

					</form>
					<!-- Contact Form end -->
				</div>

			</div>

		</section>
		
	</main>

</div>

<!-- Go to top button -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- SCRIPTS -->
<script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/infinite-scroll.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/validator.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>